.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
	display:none;
    background-color: rgba(229, 229, 229, .8);
}
.modal-wrapper {
    z-index: 20;
    position:fixed;
    padding: 10px;
    display:none;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #aaa;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
 .modal-header {
    width: 100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.modal-body {
    margin: 30px auto;
    width: 300px;
}
.close {
    float: right;
    width: 30px;
    line-height: 30px;
    font-size: 2.5rem;
    color: #ccc;
    text-align: center;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.info{
    color: #ccc;
}
.applogo{
    height: 50px;
    margin:0 auto;
}
.applogo a{
    width: 50px;
    height: 50px;
    border-radius:25px;
    float: left;
    margin: 10px;
    border:2px solid #ccc;
}
.success {
    background-color: #00bfa5;
}
.success:hover {
    background-color: #00af95;
}

.cancel:hover {
    background-color: #aaa;
}
.modal-message input{
	margin:5px;
	height:35px;
	width:300px;
    line-height: 35px;
    font-size: 16px;
	border:1px solid #ccc;
	border-radius:5px;
	}
    .test-group{
        height: 35px;
        width: 300px;
        margin:5px;
    }
    .test-group input{
        width: 230px;
        height: 35px;
        height:35px;
        line-height: 35px;
        font-size: 16px;
        border:1px solid #ccc;
        border-radius:5px;
    }
    .test-btn{
        border:0;
        height: 37px;
        width: 55px;
        border-radius: 5px;
        background:#ffaaa5;
    }
    .test-btn:hover{
        background:#ffbf87;
    }
.modal-button {
    font-family: "Microsoft YaHei";
    float: left;
    margin: 10px auto;
    width: 300px;
    height: 40px;
    font-size: .8rem;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.reset{
    color:#ccc;
}
.reset a{
    color: #ffaaa5;
    text-decoration: none;
}
.reset a:hover{
    text-decoration: underline;
}